<ion-view title="in progress" hide-nav-bar="true">
  <ion-content class="padding">
  <div class="list card">


    <div class="item">
      <div class="row">
          <div class="col opponent center">
            v. {{player2}}
          </div>
      </div>
    </div>

    <div class="item">
      <div class="row">
        <div class="col statScore center">
          {{statScore}}
        </div>
      </div>
    </div>

    <div class="item">
      <div class="row">
          <div class="col col-67">
            1st serve %
          </div>

          <div class="col statResult center">
            %{{1stServe}}
          </div>
      </div>
    </div>

    <div class="item">
      <div class="row">
          <div class="col col-67">
            aces
          </div>

          <div class="col statResult center">
            {{aces}}
          </div>
      </div>
    </div>

    <div class="item">
      <div class="row">
          <div class="col col-67">
            double faults
          </div>

          <div class="col statResult center">
            {{doubleFaults}}
          </div>
      </div>
    </div>

    <div class="item">
      <div class="row">
          <div class="col col-67">
            unforced errors
          </div>

          <div class="col statResult center">
            {{errors}}
          </div>
      </div>
    </div>

    <div class="item">
      <div class="row">
          <div class="col col-67">
            winning % on 1st serve
          </div>

          <div class="col statResult center">
            %{{1stServeWinning}}
          </div>
      </div>
    </div>

    <div class="item">
      <div class="row">
          <div class="col col-67">
            winning % on 2nd serve
          </div>

          <div class="col statResult center">
            %{{2ndServeWinning}}
          </div>
      </div>
    </div>

    <div class="item">
      <div class="row">
          <div class="col col-67">
            winners (including serves)
          </div>

          <div class="col statResult center">
            {{winners}}
          </div>
      </div>
    </div>

    <div class="item">
      <div class="row">
          <div class="col col-67">
            receiving pts won
          </div>

          <div class="col statResult center">
            %{{receiving}}
          </div>
      </div>
    </div>

    <div class="item">
      <div class="row">
          <div class="col col-67">
            break pt conversions
          </div>

          <div class="col statResult center">
            {{breaksConverted}} of {{breakChances}} = %{{breakPercentage}}
          </div>
      </div>
    </div>

    <div class="item">
      <div class="row">
          <div class="col col-67">
            net approaches
          </div>

          <div class="col statResult center">
            {{netConverted}} of {{netChances}} = %{{netPercentage}}
          </div>
      </div>
    </div>

    <div class="item">
      <div class="row">
          <div class="col col-67">
            total pts won
          </div>

          <div class="col statResult center">
            {{totalPoints}}
          </div>
      </div>
    </div>


  </div><!--end list-->

  <div class="row">
    <button name="submit" class="button">submit</button>
  </div><!--end submit button-->


  <!-- Page Nav -->
  <div class="row">
    <div class="center swipeNav">
      <a ui-sref="tab.stats"><div class="pageNav"></div></a>
      <a ui-sref="tab.match-stats"><div class="pageNav"></div></a>
      <div class="pageNav active"></div>
    </div>
  </div>


  </ion-content>
</ion-view>
