<ion-view title="match score">
  <ion-content class="padding">

      <div class="list card">


        <div class="item">
          <div class="row">
              <div class="col col-20 center">
                player
              </div>
              <div class="col col-20 center">
                set 1
              </div>
              <div class="col col-20 center">
                set 2
              </div>
              <div class="col col-20 center">
                set 3
              </div>
              <div class="col col-20 center">
                points
              </div>
          </div>
        </div>

        <div class="item">
          <div class="row">
              <div class="col col-20 center">
                josh
              </div>
              <div class="col col-20 center">
                O
              </div>
              <div class="col col-20 center">
                O
              </div>
              <div class="col col-20 center">
                0
              </div>
              <div class="col col-20 center">
                4O
              </div>
          </div>
        </div>

        <div class="item">
          <div class="row">
              <div class="col col-20 center">
                david
              </div>
              <div class="col col-20 center">
                O
              </div>
              <div class="col col-20 center">
                O
              </div>
              <div class="col col-20 center">
                0
              </div>
              <div class="col col-20 center">
                30
              </div>
          </div>
        </div>

      </div><!--end list-->

      <!--Players-->
    <div class="row center">
      <div class="col col-50">
        <h1>josh</h1>
      </div>

      <div class="col col-50">
        <h1>david</h1>
      </div>
    </div>


    <div class="row center">
      <div class="col col-50">
        <button name="addPoint1" class="ion-ios7-plus-empty"></button>
      </div>

      <div class="col col-50">
        <button name="addPoint2" class="ion-ios7-plus-empty"></button>
      </div>
    </div>



      <!--end Players-->

      <div class="row">
        <div class="center">
          <button name="submit" class="button undo">undo</button>
        </div>
      </div><!--end undo button-->


 <button name="settingsStats" class="icon ion-gear-a"></button>



      <!-- Page Nav -->
      <div class="row">
        <div class="center swipeNav">
          <div class="pageNav active"></div>
          <a ui-sref="tab.match-stats"><div class="pageNav"></div></a>
          <a ui-sref="tab.in-progress"><div class="pageNav"></div></a>
        </div>
      </div>




  </ion-content>
</ion-view>
