<ion-view title="video">
  <ion-content class="padding">

    <div class="row center">
      <div class="col col-50 gallery">
        <img src="/img/cat.png" alt="" />
      </div>

      <div class="col col-50 gallery">
        <img src="/img/cat.png" alt="" />
      </div>
    </div>


    <div class="row center">
      <div class="col col-50 gallery">
        <img src="/img/cat.png" alt="" />
      </div>

      <div class="col col-50 gallery">
        <img src="/img/cat.png" alt="" />
      </div>
    </div>


    <div class="row center">
      <div class="col col-50 gallery">
        <img src="/img/cat.png" alt="" />
      </div>

      <div class="col col-50 gallery">
        <img src="/img/cat.png" alt="" />
      </div>
    </div>


    <div class="row center">
      <div class="col col-50 gallery">
        <img src="/img/cat.png" alt="" />
      </div>

      <div class="col col-50 gallery">
        <img src="/img/cat.png" alt="" />
      </div>
    </div>


  </ion-content>
</ion-view>
