<ion-view title="video gallery">
  <ion-content class="padding">

    <div class="row center">
      <div class="col col-50 gallery">
        <img src="img/cat.png"/>
      </div>

      <div class="col col-50 gallery">
        <img src="img/cat.png"/>
      </div>
    </div>


    <div class="row center">
      <div class="col col-50 gallery">
        <img src="img/cat.png"/>
      </div>

      <div class="col col-50 gallery">
        <img src="img/cat.png"/>
      </div>
    </div>


    <div class="row center">
      <div class="col col-50 gallery">
        <img src="img/cat.png"/>
      </div>

      <div class="col col-50 gallery">
        <img src="img/cat.png"/>
      </div>
    </div>


    <div class="row center">
      <div class="col col-50 gallery">
        <img src="img/cat.png"/>
      </div>

      <div class="col col-50 gallery">
        <img src="img/cat.png"/>
      </div>
    </div>


  </ion-content>
</ion-view>
